*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}





/* add variablrs */

$second-color: #212121;
$primary-color: #0083b7;
$second-2-color: #ffffff;



/* Linkeng Pages*/


    /* linkeng for header*/
@import "./_header-style.scss";


    /* Linkeng for mune mobel mod*/
@import "./_menu-style.scss";


    /* Linkeng for Home Section*/
@import "./_home-style.scss";


    /* Linkeng for about Section*/
@import "./_about-style.scss";


    /* Linkeng for services Section*/
@import "./_services-style.scss";

    /* Linkeng for services Section*/
    @import "./_service-1-page.scss";
